In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame([[8,8,4],[7,9,5],[6,10,6],[5,12,7]],columns=["cgpaa","profile_score","lpa"])

In [12]:
df

   cgpaa  profile_score  lpa
0      8              8    4
1      7              9    5
2      6             10    6
3      5             12    7

In [17]:
def initialize_parameters(layer_dims):
  
  np.random.seed(3)
  parameters = {}
  L = len(layer_dims)         

  for l in range(1, L):

    parameters['W' + str(l)] = np.ones((layer_dims[l-1], layer_dims[l]))*0.1
    parameters['b' + str(l)] = np.zeros((layer_dims[l], 1))
      

  return parameters

In [18]:
initialize_parameteres([2,2,1])

TypeError: Cannot interpret '1' as a data type